.error{
	color:red;
	font-size: .9rem;
}

 .userClicker, .caseClicker{
    border-radius: 2rem;
    border: .2rem solid #73AD21;
    padding: 1.4rem;
    padding-bottom: 2.5rem;
    margin-top: 1rem; 
    width: 7rem;
    height: 1rem; 
}

#sessionStarter{
    border-radius: 2rem;
    border: .2rem solid black;
    color:white;
    background:#73AD21;
    padding: 1.4rem;
    padding-bottom: 2.5rem;
    margin-top: 1rem; 
    width: 20rem;
    height: 1rem; 
}

.timeselector, #emotionClicker{
    border-radius: 2rem;
    border: .2rem solid #73AD21;
    padding: 1.4rem;
    padding-bottom: 2.5rem;
    margin-top: 1rem; 
    width: 20rem;
    height: 1rem; 
}

.pathClicker{
    border-radius: 2rem;
    border: .2rem solid black;
}